@import url('https://fonts.googleapis.com/css?family=Sunflower:300,500,700')
  
$pastel-blue: #dee8eb
$white: #ffffff

img
  width: 100%

div.image-wrapper
  width: 70%
  margin: 0 auto

nav
  display: flex
  justify-content: center
  text-align: center

  > div.nav-menu
    position: fixed
    top: 10vmin
    font-size: 5vmin
    z-index: 5

    &.slide-up
      font-size: 2vmin
      top: 0
      margin-top: 1vh

div.nav-menu.show
  display: block

div.nav-menu.hide
  display: none

section > div.ui.fluid.container
  margin-left: 0!important
  margin-right: 0!important

  div.nav-menu.detail
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 50%
    width: 100%

    > div
      display: none
      font-size: 3vmax
      color: $white

div.top-section.slide-up
  position: fixed
  height: 10vh
  background: transparent
  top: 5vh
  transition: height 0.4s ease

@media only screen and (max-device-width: 768px)
  div.nav-menu.show 
    display: none

  nav.opened 
    display: flex
    height: 100vh
    width: 100vw
    position: fixed
    background-color: rgba(255, 255, 255, 1)
    align-items: center
    z-index: 1
    > div.ui.four.doubling.nav-menu
      position: relative
      > div.column
        padding: 5vh!important

div.top-section
  height: 100vh
  width: 100vw
  background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.3) 100%), url('../img/cover-photo.jpeg') no-repeat fixed center
  background-size: cover
  display: flex
  align-items: flex-end
  justify-content: center
  z-index: 5

  h1
    font-size: 10vmax
    margin-bottom: 5vmin
    font-family: 'Sunflower', sans-serif

  h1.slide-up
    margin-bottom: 0px
    font-size: 5vmin
    color: #00b5ad
    background-color: rgba(255, 255, 255, 0.7)
    padding: 0 8vh
    border: double 5px
    transition: font-size 0.4s cubic-bezier(0.1, 0.7, 1.0, 0.1)

div.top-section.slide-up

div.featured-image
  background: url('../img/rome-streets.jpg') no-repeat center
  height: 100vh
  background-size: cover
  div.featured-title
    position: absolute
    width: 30vmax
    min-height: 20vmax
    margin-top: 30vh
    right: 5vmax
    font-size: 5vmax
    padding: 2vw
    line-height: 1
    border: double 5px black
    background-color: rgba(255, 255, 255, 0.8)

img.clothespin
  width: 5%
  position: absolute
  z-index: 5
  margin-top: -40px
